# Configuration file for systemd that keeps the HERA SNAP redis <-> tftpy
# gateway running
#
# Copy this file to /etc/systemd/system/. Then run
# `systemctl enable hera-snap-redis-monitor and `systemctl start hera-snap-redis-monitor`.
#
# This service is meant to be run on hera-snap-head.

[Unit]
Description=HERA SNAP command handling daemon

[Service]
Type=simple
Restart=always
RestartSec=60
User=hera
Group=hera
ExecStart=/home/hera/.venv/bin/hera_cmd_handler.py

[Install]
WantedBy=multi-user.target

