#
# For each fengine, specify the host ip address (host_ip), destination port (dest_port),
# the antenna numbers it is processing (ants). 
#
# The following booleans can also be set- 
# if it needs to be initialized (init), 
# if you want to set noise (noise), 
# or test vector (tvg) input and if you want it to 
# send data over ethernet (eth).
#
# If a specific boolean task needs to be implemented on all fengines, you can 
# set it as a global parameter.
#
# NB: If fengine antennas are not specified, they will be alloted according the order in 
# which they are presented here.

# You can set the following global parameters for all fengines 
# or enable them for only some fengines. The global parameters 
# overrride the individual fengine settings.

# You can sync the fengines using an external PPS signal
# or manually using a software register. 
# Choices: 'pps', 'manual', False (default: 'pps')
sync: 'pps'

# The test vector generator can operate in multiple modes:
# 'const_ants' : Writes a different constant value 
#                to all channels of an antenna (both pols).
# 'const_pols' : Write a different constant value  
#                to both pols of an antenna.
# 'ramp'       : Write the same ramp to all pols.
# 'ramp_pols'  : Write a different ramp to each pol.
# False        : Do not set the test vector (default) 
tvg: False

# Turn on the noise generator for testing
noise: False

# Run initialization
initialize: True

# Enable/disable transmission for all fengines
eth: True

# Specify a full path to an F-Engine fpg files
fpgfile: '/home/ubuntu/proj/dsa110-shell/SNAP_control/config/snap_fengine_nophase_2020-08-13_0941.fpg'

# Destination port for SNAP data
dest_port: 4011

fengines:
    10.41.0.150:
        ants: [0, 1, 2]
        sync_delay: 0
    10.41.0.243:
        ants: [3, 4, 5]
        sync_delay: 20
    10.41.0.246:
        ants: [6, 7, 8]
        sync_delay: 40
    10.41.0.147:
        ants: [9, 10, 11]
        sync_delay: 60
    10.41.0.137:
        ants: [12, 13, 14]
        sync_delay: 80
    10.41.0.149:
        ants: [15, 16, 17]
        sync_delay: 100
    10.41.0.249:
        ants: [18, 19, 20]
        sync_delay: 120
    10.41.0.148:
        ants: [21, 22, 23]
        sync_delay: 140


# Data is sent assuming a total of 32 Xengines and 
# a maximum of 48 channels per Xengine. If all the 
# 32 Xengines are not defined, the corresponding channels
# are not sent anywhere.
xengines:
    0:
        even:
           ip: "10.41.0.114"
           mac: 0x00163ef52d7e
        odd:
           ip: "10.41.0.114"
           mac: 0x00163ef52d7e
        chan_range: [1024, 1408]
    1:
        even:
           ip: "10.41.0.87"
           mac: 0x00163e166938
        odd:
           ip: "10.41.0.87"
           mac: 0x00163e166938
        chan_range: [1408, 1792]
    2:
        even:
           ip: "10.41.0.91"
           mac: 0x00163e3ded52
        odd:
           ip: "10.41.0.91"
           mac: 0x00163e3ded52
        chan_range: [1792, 2176]
    3:
        even:
           ip: "10.41.0.117"
           mac: 0x00163e2066cc
        odd:
           ip: "10.41.0.117"
           mac: 0x00163e2066cc
        chan_range: [2176, 2560]
    4:
        even:
           ip: "10.41.0.79"
           mac: 0x00163efc9f0a
        odd:
           ip: "10.41.0.79"
           mac: 0x00163efc9f0a
        chan_range: [2560, 2944]
    5:
        even:
           ip: "10.41.0.58"
           mac: 0x00163eaf746b
        odd:
           ip: "10.41.0.58"
           mac: 0x00163eaf746b
        chan_range: [2944, 3328]
    6:
        even:
           ip: "10.41.0.116"
           mac: 0x00163e88930b
        odd:
           ip: "10.41.0.116"
           mac: 0x00163e88930b
        chan_range: [3328, 3712]
    7:
        even:
           ip: "10.41.0.99"
           mac: 0x00163eb9caee
        odd:
           ip: "10.41.0.99"
           mac: 0x00163eb9caee
        chan_range: [3712, 4096]
    8:
        even:
           ip: "10.41.0.66"
           mac: 0x00163e86502f
        odd:
           ip: "10.41.0.66"
           mac: 0x00163e86502f
        chan_range: [4096, 4480]
    9:
        even:
           ip: "10.41.0.122"
           mac: 0x00163e58c973
        odd:
           ip: "10.41.0.122"
           mac: 0x00163e58c973
        chan_range: [4480, 4864]
    10:
        even:
           ip: "10.41.0.121"
           mac: 0x00163e47ccdf
        odd:
           ip: "10.41.0.121"
           mac: 0x00163e47ccdf
        chan_range: [4864, 5248]
    11:
        even:
           ip: "10.41.0.61"
           mac: 0x00163ef08654
        odd:
           ip: "10.41.0.61"
           mac: 0x00163ef08654
        chan_range: [5248, 5632]
    12:
        even:
           ip: "10.41.0.60"
           mac: 0x00163e0821e8
        odd:
           ip: "10.41.0.60"
           mac: 0x00163e0821e8
        chan_range: [5632, 6016]
    13:
        even:
           ip: "10.41.0.115"
           mac: 0x00163e015cb3
        odd:
           ip: "10.41.0.115"
           mac: 0x00163e015cb3
        chan_range: [6016, 6400]
    14:
        even:
           ip: "10.41.0.113"
           mac: 0x00163ec29e6a
        odd:
           ip: "10.41.0.113"
           mac: 0x00163ec29e6a
        chan_range: [6400, 6784]
    15:
        even:
           ip: "10.41.0.83"
           mac: 0x00163ec4b3e4
        odd:
           ip: "10.41.0.83"
           mac: 0x00163ec4b3e4
        chan_range: [6784, 7168]















        
